<% include common/header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">


                <form class="form-horizontal orderForm">



                    <div class="form-group name-group">
                        <label class="col-sm-2 control-label">Ім’я</label>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <input class="form-control" type="text" id="inputName" placeholder="Ім’я Фамілія">
                        </div>
                        <span class="helpName" style="display: none"> Введіть власне ім'я, без цифр</span>
                    </div>



                    <div class="form-group phone-group">
                        <label class="col-sm-2 control-label">Телефон</label>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <input class="form-control" type="text" id="inputPhone" placeholder="0994010999">
                        </div>
                        <span class="phone-help-block" style="display:none">
                               Почніть з 0
                            </span>
                    </div>



                    <div class="form-group address-group">
                        <label class="col-sm-2 control-label">Адреса</label>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                        </div>
                        <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                    </div>
                    <button type="submit" class="btn btn-warning next-step-button">
                        Далі
                        <i class="glyphicon glyphicon-chevron-right icon-white">
                        </i>
                    </button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                <div class="infoAboutOrder">
                    <h4>Інформація про замовлення</h4>
                    <p class="order-summery-time">
                        <b>Приблизний час доставки:</b> невідомий
                    </p>
                    <p class="order-summery-adress">
                        <b>Адреса доставки:</b> невідома
                    </p>

                </div>
                <!--<button type="submit" class="btn btn-warning next-step-button">-->
                <!--Далі-->
                <!--<i class="glyphicon glyphicon-chevron-right icon-white">-->
                <!--</i>-->
                <!--</button>-->
            </div>
        </div>
        <div class= "col-xs-6 col-sm-6 col-md-5 col-lg-3 buyCart">
            <div class="headerOfBuyCart">
                <h4>Замовлення</h4>
                <div class="howManyOrders">0</div>
                <a href="#" class="clearOrders">Очистити замовлення</a>
            </div>
            <div class="orders" id="cart">

            </div>
            <div class="bottomOfBuyCart">
                <h5>Сумма замовлення</h5>
                <div class="totalWorse">0</div>
                <button class="generalButtonDesign orderButton">Замовити</button>
            </div>
        </div>

    </div>
    <div id="googleMap" class="col-xs-6 col-sm-6 col-md-7 col-lg-8">

    </div>

    <script>
        function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBipHeMYT5znMWIZ4mNUm87aWjqBGooVxI&callback=initMap">
    </script>


</div>


<% include common/footer.ejs %>