<div class="badge-bottom">
    <div class="badge-text">
        <div class="text-1">Цього тижня на все</div>
        <div class="text-2">-20%</div>
    </div>
    <img class="discount" src="assets/images/discount.svg">
</div>
<div class="col-xs-6 col-sm-6 col-md-8 col-lg-9">
    <div class="footer">
        Pizza.22 - практичний проект в межах курсу  Києво-Могилянської академії
        <br>
        Доставка піцци не здійснюється
    </div>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>