<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />

    <script	type="text/javascript"
               src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDIKyWeqVjGXPTN4toT0iZincfZuTG5J-E">
    </script>


    <script	src="//static.liqpay.com/libjs/checkout.js"></script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>



<div class="badge-top">
    <div class="badge-text">
        <div class="text-1">PIZZA</div>
        <div class="text-2">KMA</div>
    </div>
    <img class="discount" src="assets/images/discount.svg">
</div>




<div class="menu col-xs-6 col-sm-6 col-md-8 col-lg-9">

    <div class="menuPart1">
        <h4 class="hidden-xs">(044)222 5 222</h4>
        <h6 class="visible-xs-inline">(044)222 5 222</h6>
        <h6 class="visible-lg-inline visible-md-inline">24 години / 7 днів на тиждень</h6>
        <h5 class="visible-lg-inline">Безкоштовна доставка піцци</h5>
        <button class="btn-default generalButtonDesign enterButton hidden-xs">Ввійти</button>

    </div>


    <div class="menuPart2">
        <span class="hidden-xs">Піцца</span>
        <button class="btn-default generalButtonDesign enterButton visible-xs-inline">Ввійти</button>
    </div>
</div>


